<ion-header>
  <ion-toolbar>
    <ion-title>Galeria</ion-title>
  </ion-toolbar>
</ion-header>
<!-- https://jsonplaceholder.typicode.com/photos -->
<ion-content>
  <h1>{{post.title}}</h1>
  <app-formulario-galeria [post]="post" [post2]="Holaadsadsa" (save)="agregarElemento($event)"></app-formulario-galeria>
  <div *ngFor="let item of fotos; let i = index;">
    <ion-card *ngIf="i != indexModify">
      <img [src]="item.url" alt="" />
      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="setModify(i, item)" size="small" color="primary">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="presentAlert(item.id)" size="small" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-card-content>
    </ion-card>
    
    <app-formulario-galeria *ngIf="i == indexModify" [post]="item" (save)="actualizarElemento($event)"></app-formulario-galeria>
  </div>

</ion-content>
